:root{
    --color-page: #2d976f;
}
#EDR{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 27px 100px 10PX 20PX;
    background-color: #2d976f;
    font-family: serif;
    box-shadow: 2px 2px 10px #2d976f;
    height: 40px;
}
#EDR h2{
    display: inline;
    color: white;
}
#lolo{
    float: right;
    display: inline;
    margin-top: 8px;
}
.total{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-right: 10px;
}
/* Declaro los estilos el poster */
.poster{
    display: inline;
    width: 140px;
    margin-left: 4%;
    padding-bottom: 3%;
}
#section-poster{
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
/*Luego de darle al  poster*/

#container-poster {
    background-color: var(--color-page);
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
#poster-present {
    width: 250px;
}
#container-text-poster {
    display: inline-block;
    margin-left: 70px;
    width: 50%;
}
#name-poster-present {
    margin-bottom: 5%;
}
#cap-num-ep-container{
    position: absolute;
    clear: both;
    top: 420px;
}
.cap-num-ep{
    display: block;
    margin-bottom: 30px;
}
/* Capitulos*/
.cap-num-ep:hover{
    cursor: pointer;
}
/* Declaro los estilos del video */

#back-button {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 50px 0;
    border-color: transparent #333 transparent transparent;
    margin-top: 10%;
}  
#back-button:hover {
    border-right-color: #666;
    cursor: pointer;
}   

#bar{
    background-color: var(--color-page);
}
#bar a{
    text-decoration: none;
    color: white;
}
.op:hover{
    cursor: pointer;
}
#video{
    position: fixed;    
    margin-left: 25%;
    margin-top: 10%;
}
@media only screen and (max-width: 767px) {
    #EDR{
        padding: 3px 6px 0 0;
    }
    #EDR h2{
        margin-top: 5px;
        margin-left: 9px;
        display: inline-block;
    }
    #lolo{
        display: inline-block;
        margin-top: 9px;
    }
    .total{
        margin-right: 10px;
        font-size: 16px; 
    }
    #poster-present{
        width: 150px;
        height: 250px;
    }
    #container-text-poster{
        height: fit-content;
    }
    #container-text-poster p{
        position: absolute;
        font-size: 10px;
    }
}
@media only screen and (max-width: 427px) {
    #container-text-poster p{
        font-size: 6px;
    }
    #poster-present{
        width: 150px;
        height: 200px;
        padding-left: 0px;
    }
    
}

/* esto ya es para abajo */
